body{
	padding: 0;
	margin: 0;
	font-weight: medium;
	font-family: 'Nanum Gothic', sans-serif;
}
.background{
	background: rgb(96,136,159);
	background: linear-gradient(180deg, rgba(96,136,159,1) 0%, rgba(89,144,154,1) 37%, rgba(255,253,233,1) 100%);
	 -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -30;
}
.btn{
	font-family: 'Nanum Gothic', sans-serif;
	border: 1px solid black;
}
.formArc{
	background: #FCEEE3;
	border: 1px solid black;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	align-items: center;
}
.subBtn{
    background:transparent;
    border:0;
}
.message{
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	min-height: 74px;
	background: #baced5;
	border-radius: 10px;
	margin-bottom: 10px;
}
.messageForm{
	width: 45%;
	height: 800px;
	margin-top: 100px;
}
.navBtn{
	background: #6facbd;
	width: 200px;
	border-radius: 10px;
	height: 34px;
	margin-right: 15px;
	margin-top: 30px;
}
.header{
	padding-left: 10%;
	color: transparent;
    text-shadow: 0 0 4px #000;
	font-size: 50px;
	text-transform: uppercase;
}
.headerWrapper{
	display: flex;
	justify-content: space-between;
}
.navWrapper{
	padding-right: 10%;
	display: flex;
	justify-content: space-between;
}
.messageText{
	width: 80%;
	margin-left: 10%;
}
.interlocuterName{
	text-align: center;
	background: #e3e2d8;
	border-radius: 10px;
	padding: 10px;
	box-shadow: -1px 6px 5px 0px #494949;
	top:0;
	margin-bottom: 15px;
	/*width: 762px;*/
	height: 44px;
}
.messageBox{
	margin: 1px;
	vertical-align: top;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	display: block;
	height: 500px;
	width: 100%;
	overflow: auto;
}
.messageBox::-webkit-scrollbar {
  display: none;
}

.answerForm{
	margin-top: 15px;
	width: 100%;
	display: flex;
	flex-direction: row;
}
.answerField{
	background: #e5e5e2;
	border-radius: 10px;
	width: 100%;
	height: 65px;
	margin-right: 10px;
	padding-left: 10px;
	box-shadow: -1px 6px 5px 0px #494949;
	font-size: 20px;
}
input,button{
	outline: none;
}
.sendBtn{
	height: 70px;
	box-shadow: -1px 6px 5px 0px #494949;
	width: 90px;
	background: #baced5;
	border-radius: 10px;
}